In [23]:
import pandas as pd

import requests

res = requests.get("https://isin.twse.com.tw/isin/C_public.jsp?strMode=2")

df = pd.read_html(res.text)[0]
df.columns = df.iloc[0]
df['instrument_type'] = df.iloc[:, 6].fillna(method='ffill')
df = df.iloc[1:, ]
df = df[df['有價證券代號及名稱'] != df['國際證券辨識號碼(ISIN Code)']]
df[['stock_id', 'name']] = df['有價證券代號及名稱'].str.extract(r'([^\s]+)\s+(.*)')
df = df.drop(columns=['有價證券代號及名稱', '國際證券辨識號碼(ISIN Code)', 'CFICode', '市場別', '備註'])
df = df.rename(columns={
    '上市日': 'listing_date',
    '產業別': 'industry'
})
df

0     listing_date industry instrument_type stock_id    name
2       1962/02/09     水泥工業              股票     1101      台泥
3       1962/06/08     水泥工業              股票     1102      亞泥
4       1969/11/14     水泥工業              股票     1103      嘉泥
5       1971/02/01     水泥工業              股票     1104      環泥
6       1990/06/06     水泥工業              股票     1108      幸福
...            ...      ...             ...      ...     ...
28958   2005/12/26      NaN    受益證券-不動產投資信託   01003T  兆豐新光R1
28959   2006/04/13      NaN    受益證券-不動產投資信託   01004T  土銀富邦R2
28960   2006/10/13      NaN    受益證券-不動產投資信託   01007T  兆豐國泰R2
28961   2018/06/21      NaN    受益證券-不動產投資信託   01009T  王道圓滿R1
28962   2018/12/05      NaN    受益證券-不動產投資信託   01010T  京城樂富R1

[28952 rows x 5 columns]

2        True
3        True
4        True
5        True
6        True
         ...
28958    True
28959    True
28960    True
28961    True
28962    True
Name: stock_id, Length: 28952, dtype: bool